@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-primary font-sans antialiased overflow-x-hidden selection:bg-secondary selection:text-white;
  }
}

@layer utilities {
  .text-gold-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary to-[#E5C585];
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
